version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: banking_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: banking_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
